@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries
@import url('https://fonts.googleapis.com/css2?family=Eater&family=Oswald&display=swap');//import fonts

// color palette - these colors will be the color swatches of the Colors section

$color-1: #ff7100; // Cornflower Blue - Action color
$color-2: #fd9702; // Dark Blue
$color-3: #e102ff; // Red
$color-4: #ae03ff; // light grey
$color-5: #000000; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red

// fonts
$primary-font: 'Eater', cursive;
$secondary-font: 'Oswald', sans-serif;

/* -------------------------------- 

xBackground 

-------------------------------- */

body {
  /* this is the page background */
  background-color: $color-5;
}

/* -------------------------------- 

xPatterns

-------------------------------- */

@import 'partials/_patterns.scss';

/* -------------------------------- 

xNavigation 

-------------------------------- */

@import 'partials/_navigation.scss';

/* -------------------------------- 

xPage title 

-------------------------------- */

@import 'partials/_title.scss';

/* -------------------------------- 

xTypography 

-------------------------------- */

@import 'partials/_typography.scss';

/* -------------------------------- 

xButtons 

-------------------------------- */

@import 'partials/_buttons.scss';

/* -------------------------------- 

xIcons 

-------------------------------- */

@import 'partials/_icons.scss';

/* -------------------------------- 

xForm 

-------------------------------- */

@import 'partials/_forms.scss';


@import 'partials/basic-style';
